{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>RCCG KCA</title>
{% endblock %}
{% block content %}
<section class="s-hero" data-parallax="scroll" data-image-src="{% static 'images/hero-bg-3000.jpg' %}" data-natural-width=3000 data-natural-height=2000 data-position-y=center>
    <div class="hero-left-bar"></div>
    <div class="row hero-content">
        <div class="column large-full hero-content__text">
            <h1>
                We Exist To <br>
                Honor God And <br>
                Make Disciples
            </h1>
            <div class="hero-content__buttons">
                <a href="{% url 'core:contact' %}" class="btn btn--stroke">Upcoming Events</a>
                <a href="{% url 'core:about' %}" class="btn btn--stroke">Learn More About Us</a>
            </div>
        </div>
    </div>
    <ul class="hero-social">
        <li class="hero-social__title">Connect with Us</li>
        <li>
            <a href="#0" title="Facebook">Facebook</a>
        </li>
        <li>
            <a href="#0" title="YouTube">YouTube</a>
        </li>
        <li>
            <a href="#0" title="Instagram">Instagram</a>
        </li>
    </ul>
    <div class="hero-scroll">
        <a href="#about" class="scroll-link smoothscroll">
            Scroll For More
        </a>
    </div>
</section>
<section id="about" class="s-about">
    <div class="row row-y-center about-content">
        <div class="column large-{%if events1 %}half{% else %}full{% endif %} medium-full">
            <h3 class="subhead">Welcome to RCCG KCA</h3>
            <p class="lead">
                Welcome to RCCG KCA, where we come together to worship, learn,
                and grow in our faith. Our vibrant community is committed to spreading love,
                compassion, and the teachings of Christ.
            </p>
            <a href="{% url 'core:contact' %}" class="btn btn--primary btn--about">Learn More About Us</a>
        </div>
        {% if events1 %}
        <div class="column large-half medium-full">
            <ul class="about-sched">
                {% for event in events1 %}
                <li>
                    <h4>{{ event.event.name|title }}</h4>
                    <p>
                        {{ event.date|date:"l, F j" }} &mdash;
                        {{ event.event.start_time|time:"g:iA" }}{% if event.event.end_time %} - {{ event.event.end_time|time:"g:iA" }}{% endif %}<br>
                        {{ event.event.location }}
                    </p>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</section>
{% if passage %}
<section class="s-connect">
    <div class="row connect-content">
        <div class="column large-full" style="padding-top: 2.4vw">
            <h2 class="subhead">Verse of the Day</h2>
            <blockquote cite="https://www.biblegateway.com/passage/?search={{ reference }}&version={{ version }}">
                <p>
                    {{ passage }}
                </p>
                <cite>
                    <a href="https://www.biblegateway.com/passage/?search={{ reference }}&version={{ version }}">{{ reference|upper }} {{ version|upper }}</a>
                </cite>
            </blockquote>
        </div>
    </div>
</section>
{% endif %}
{% endblock %}
